webmoxy
.wrangler
BraveSoftware
Claude
Code
Code - OSS
GIMP
chromium
discord
evolution
gh
git
go
google-chrome
gtk-3.0
htop
monitors.xml
mimeapps.list
monitors.xml~
opera
protonfixes
pulse
totem
vlc
yelp
